@use '@/styles/variables.module.scss' as var;

.dropdown-menu {
  position: absolute;
  top: var.$header-height;
  right: 0;
  display: none;
  list-style: none;
  border: solid 1px var.$light-border-color;
  border-radius: 20px;
  background-color: var.$bg-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-menu--visible {
  display: block !important;
}

.dropdown-menu__item {
  display: block;
  &:not(:last-child) {
    border-bottom: solid 1px var.$border-color;
  }
  li {
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
  }
}
